@use "./variables" as v;

h1, h2, h3 {
    margin: 0;
    line-height: 1.2;
}
h1 {
    font-size: 44px;
    font-family: v.$fuenteHeading;
}
h2 {
    font-size: 40px;
    font-family: v.$fuenteHeading;
}
h3 {
    font-size: 30px;
}
a {
    text-decoration: none;
    color: v.$negro;
}
p {
    color: v.$negro;
    font-size: 16;
}