//Tipografia
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteHeading: 'Staatliches', cursive;


//Medidas
$telefono:480px;
$tablet:992px;
$laptop:1280px;
$desktop:1440px;


//Colores
$rojo: #B8336A;
$azul: #068D9D;
$naranja:  #ff8015;
$negro: #000;
$blanco: #FFFFFF;
$gris: #484349;
$gris-Claro: #F2F2F2;